/*  apply a natural box layout model to all elements  */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding-top: 0px;
}

#hamburgerBtn {
	display: none;
}

nav {
	position: relative;

	ul#primaryNav {
		li {
			float: left;
		}
	}
}

/* hide the navigation button by default */
/*  main  */
main {
	div.teaser {
		width: 33%;
	}

	.cruiseContainer {
		width: 100%;

		img {
			width: 33%;
			display: block;
    		float: left;
		}

		.info-container {
			padding-left: 30px;
			width: 66%;
			display: inline-block;

			button {
				float: right;
				background-color: $secondary-color;
			}
		}
	}

	.agentInfo {
		img {
			width: 50%;
		}
	}

	form {
		input {
			width: 50%;
		}
	}

	.aboutUs {
		width: 100%;

		.contains {
			float: right;
			width: 50%;
		}
	}
}

.gallery {
	figure {
		width: 32%;
	}
}

iframe {
	width: 100%;
	height: 450px;
}

#contact {
	width: 50%;
}

#newsLetter {
	width: 50%;
}

#why {
	width: 100%;
}