nav {
	a:last-child {
		border-left: 1px solid rgba(0, 0, 0, 0.3);
	}
}

/*  main  */
main {
	div.teaser {
		width: 25%;
	}

	.cruiseContainer {
		width: 100%;

		img {
			width: 20%;
			display: inline-block;
		}

		.info-container {
			width: 79%;
			display: inline-block;

			button {
				float: right;
				background-color: $secondary-color;
			}
		}
	}

	.agentInfo {
		img {
			width: 33%;
		}
	}

	.bookCruise {
		input {
			width: 25%;
		}
	}
}

#contact {
	width: 33%;
}

#newsLetter {
	width: 33%;
}

#why {
	width: 33%;
}

footer {}